:root{
    --font-family-base: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    --family-title: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

body{
    font-family: var(--font-family-base);
    color: var(--text-color);
}

.section h2{
    font-family: var(--family-title);
}
.section-tagline{
    color: var(--color-primary);
}

.card-category{
    color: var(--color-primary);
}

a{
    color: var(--color-primary);
}